*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol{
	list-style: none;
}
h1{
	text-align: center;
	color: pink;
	padding: :5%;

}
.slideshow{
	width: 100%;
	background-color: #000;
	position: relative;
}
.slider li, ul{
	width: 100%;	
}
.slider li, img{
	width: 70%;
}
img{
	border:4px solid #fff;
	border-radius: 5%;
	margin: 5% 0% 5% 40%;	
	width: 40em;
    height: 30em;
}
.pagination{
	position: absolute; 
	top: 100%;
	display: flex;
	justify-content: content;
	width: 100%;
	margin-left: 50%;

}
.pagination li{
	font-size: 20px;
	margin-top: 2px 5px;
	color: #858585;
	cursor: pointer;/*para que aprezca el cursor*/
}
.left, .right{
	position:absolute;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 35px;
}
.left{
	left: 10.5em;
}
.right{
	right: 8.7em;
}
span{
	border:none;
	background-color: transparent;
}